# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

# roslynator config
# default|none|silent|suggestion|warning|error
dotnet_diagnostic.IDE0090.severity = silent
dotnet_diagnostic.RCS1089.severity = silent